* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap" rel="stylesheet');


body {
  font-family: 'Merriweather', serif;
}
